<div class="p-4">
  <p class="mb-4">
    сЂЊсЂ«сѓбсЃЌсЃфсѓ▒сЃ╝сѓисЃДсЃ│сЂ»сђЂ<%= link_to("Teacher Teacher", "https://teacherteacher.jp", target: "_blank", class: "underline") %>сЂ«DiscordсѓхсЃ╝сЃљсЂФТќ░сЂЌсЂёсЃАсЃ│сЃљсЃ╝сѓњТІЏтЙЁсЂЎсѓІсЂЪсѓЂсЂ«сѓѓсЂ«сЂДсЂЎсђѓ
  </p>

  <div class="bg-blue-50 border-l-4 border-blue-500 p-4 mb-4">
    <p class="text-blue-800">
      <strong>­ЪЊД ТІЏтЙЁсѓњтЈЌсЂЉсЂдсЂёсѓІТќ╣сЂИ</strong><br>
      сЂіжђЂсѓісЂЌсЂЪТІЏтЙЁURLсЂІсѓЅсѓбсѓ»сѓ╗сѓ╣сЂЌсЂдсЂЈсЂасЂЋсЂёсђѓ
    </p>
  </div>

  <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 mb-4">
    <p class="text-yellow-800">
      <strong>Рџа№ИЈ сѓ╣сЃъсЃ╝сЃѕсЃЋсѓЕсЃ│сѓњсЂіСй┐сЂёсЂ«Тќ╣сЂИ</strong><br>
      <span class="text-sm">
        LINEсѓёGmailсЂесЂёсЂБсЂЪсѓбсЃЌсЃфсЂ«сђїсѓбсЃЌсЃфтєЁсЃќсЃЕсѓдсѓХсђЇсЂДсЂЊсЂ«сЃџсЃ╝сѓИсЂФсѓбсѓ»сѓ╗сѓ╣сЂЌсЂдсЂёсѓІта┤тљѕсђЂТІЏтЙЁсЂїсЂєсЂЙсЂЈсЂёсЂІсЂфсЂёсЂЊсЂесЂїсЂѓсѓісЂЙсЂЎсђѓ<br>
        SafariсѓёChromeсЂесЂёсЂБсЂЪсЃќсЃЕсѓдсѓХсЂДсЂЊсЂ«сЃџсЃ╝сѓИсѓњжќІсЂЇуЏ┤сЂЌсЂдсЂІсѓЅсЂіУЕдсЂЌсЂЈсЂасЂЋсЂёсђѓ
      </span>
    </p>
  </div>

  <div class="bg-gray-50 border border-gray-200 rounded p-4">
    <p class="text-gray-700 text-sm">
      ТІЏтЙЁURLсЂїУдІсЂцсЂІсѓЅсЂфсЂёта┤тљѕсѓёсђЂсѓбсѓ»сѓ╗сѓ╣сЂДсЂЇсЂфсЂёта┤тљѕсЂ»сђЂТІЏтЙЁсЂЌсЂдсЂЈсѓїсЂЪС║║сЂФсЂітЋЈсЂётљѕсѓЈсЂЏсЂЈсЂасЂЋсЂёсђѓ
    </p>
  </div>
</div>
