<% content_for :title, "ロールの管理" %>

<table class="w-full">
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td class="px-6 py-2">
          <%= role.name %>
        </td>
        <td class="px-6 py-2 text-right">
          <% if role.usable %>
            <%= link_to("使", role_usable_path(role), data: { turbo_method: :delete }, class: "inline-block w-[40px] text-center px-2 py-1 bg-blue-500 text-white rounded") %>
          <% else %>
            <%= link_to("未", role_usable_path(role), data: { turbo_method: :post }, class: "inline-block w-[40px] text-center px-2 py-1 bg-red-500 text-white rounded") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="mt-4 px-4">
  <%= link_to("Discordのロールと同期する", roles_sync_path, data: { turbo_method: :post }, class: "inline-block w-full text-center p-2 bg-blue-500 hover:bg-blue-700 text-white rounded") %>
</p>
