<% if logged_in? %>
  <div class="flex justify-end mb-4">
    <%= link_to "ログアウト", session_path, data: { turbo_method: :delete } %>
  </div>
<% else %>
  <%= form_tag("/auth/discord", method: "post", data: { turbo: false }) do %>
    <button type="submit">Discordでログイン</button>
  <% end %>
<% end %>
